# Caminho do backend para rotas públicas
# CAMINHO/api/auth
VITE_BACKEND_AUTH_ENDPOINT=http://localhost:8000/api/auth/

# Caminho do backend para rotas privadas
# CAMINHO/api
VITE_BACKEND_ENDPOINT=http://localhost:8000/api/
